* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
}

.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 340px;
    margin: 50px auto 0;
    gap: 10px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}

::placeholder {
    color: white;
}

.screen {
    grid-column: span 4;
    text-align: right;
    padding: 40px 10px 10px;
    outline: none;
    border: none;
    font-size: 48px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
}

.zero {
    grid-column: span 2;
    border-radius: 35px;
}

button {
    font-size: 24px;
    padding: 20px;
    border-radius: 50%;
    outline: none;
    border: none;
    min-width: 60px;
    cursor: pointer;
}

.top {
    background-color: rgb(200, 200, 200);
}

.number, .zero, .period {
    background-color: rgb(90, 90, 90);
    color: white;
}

.right {
    background-color: rgb(255, 165, 0);
    color: white;
}
